      <h1 class="h1-HOME">  What Job Position are you looking for?</h1>
    <button type="button" class="btn btn-CSS shadow-sm  col-11 d-flex justify-content-center align-items-center container-fluid">FUll satck      
      <div class=""><img src="./svgs/enter-svgrepo-com.svg" alt=""></div>  </button>
<button type="button" class="btn btn-CSS shadow-sm  col-11 d-flex justify-content-center align-items-center container-fluid">Front End<img src="./svgs/enter-svgrepo-com.svg" alt=""></button>
<button type="button" class="btn btn-CSS shadow-sm  col-11 d-flex justify-content-center align-items-center  container-fluid">Back end<img src="./svgs/enter-svgrepo-com.svg" alt=""></button>