 <div class="login-box shadow">
          <h1>Login to JOB<img src="/svgs/link-svgrepo-com (1).svg" alt="">LINK</h1>
          <form>
            <!-- b is for bold the text. 'Required' makes to input box mandatory -->
            <label for="username"><b>Username</b></label>
            <input class="shadow-sm"type="text" placeholder="Enter Username" name="username" required>
    
            <label for="password"><b>Password</b></label>
            <input class="shadow-sm"type="password" placeholder="Enter Password" name="password" required>
    
            <button class="shadow"type="submit">Login </button>
          </form>
          <!-- need to link the sign up page  -->
          <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>