
body{
    /* background-color: blueviolet; */
    background-color: rgb(247, 245, 245);
}
.btn{
   margin-top: 15px;
   height: 65px;
   background-color:#F8F8F8;
   color: black;
   border: black;
   font-size: large;
   font-weight: #262626;
   color: #262626;
   border: 1px #DEDCDC solid;
   /* text-align: right; */
}
.btn:hover{
    /* background-color: #DEDCDC; */
    background-color: #89599b;
}
nav{
    margin-bottom: 60px;
}
img{
    height: 40px;
}
h1{
    margin-left: 15px;
}