body {
    font-family: monospace, sans-serif;
    background-color: #d9bbbb;
  }
  b{
    margin: 50px;
  }

.login-box {
    width: 300px;
    background-color: #fff;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-box h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 0px;
  }

/* selectors per type to link html */
.login-box input[type="text"], 
.login-box input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.login-box button {
    background-color: #89599b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

  .login-box button:hover {
    background-color: #804a93;
  }

  .login-box a {
    color: #804a93;
  }
  .sectionREOUTE{
    color: black;
  }